@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Satoshi-Medium', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.status-article {
	left: 10em;
}


.max-width-50 {
	max-width: 55%;
}

.full-w-image {
	max-width: 1240px;
	width: 100%;
	height: 750px;
	object-fit: cover;
}

.swal2-container.swal2-center>.swal2-popup {
	border: 1px solid black;
	color: black;
}

.swal2-popup .swal2-actions button.swal2-confirm {
	background-color: #ff2975;
}

.blog-content p {
	margin: .5em 0;
}

.blog-content p a {
	text-decoration: underline;
	color: #ff2975;
}

.gradient-style {
	background: linear-gradient(71.18deg, rgb(0, 34, 255) -27.32%, rgb(0, 34, 255) -16.39%, rgb(81, 121, 254) -7.38%, rgb(165, 237, 182) 30.59%, rgb(250, 232, 90) 46.06%, rgb(253, 172, 62) 62.61%, rgb(255, 92, 0) 75.82%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@layer base {
	:root {
		/* LIGHT */
		--page-bg: #f9f3ef;
		/* --page-bg: #ffffe3; */
		/* 👈 your light background */
		color-scheme: light;
	}

	.dark {
		/* DARK */
		--page-bg: #10100e;
		color-scheme: dark;
	}

	html,
	body {
		background: var(--page-bg);
	}
}

.grid-pattern {
	/* padding: 1em 0; */
	background-image: linear-gradient(90deg, rgba(19,62,52,0.05) 1px, #0000 1px), linear-gradient(rgba(19,62,52,0.05) 1px, #0000 1px);
	background-size: 14px 14px;
}

.grid-pattern-dark {
	/* padding: 1em 0; */
	background-image: linear-gradient(90deg, #133e34 1px, #0000 1px), linear-gradient(#133e34 1px, #0000 1px);
	background-size: 14px 14px;
	background-color: #000;
}

.dark .grid-pattern {
	background-image: linear-gradient(90deg, #133e34 1px, #0000 1px), linear-gradient(#133e34 1px, #0000 1px);
	background-size: 14px 14px;
	background-color: #000;
}
